body {
	background-color: #ecf0f1;
	margin: 0px;
}

#container {
	margin: 0px 8px 8px 8px;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

#header {
	text-align: center;
	padding: 0px 0px 10px 0px;
	position: relative;
	top: -5px;
}

#header h1 {
	display: inline-block;
	color: #7f8c8d;
	font-family: 'Dosis', sans-serif;
	margin: 21.44px 0px 0px 0px;
}

#line-break {
	display: inline-block;
	background-color: #c0392b;
	height: 1px;
	width: 180px;
	margin: 0px 0px 5px 0px;
}

#navbar {
	display: inline-block;
}

#navbar a {
	color: #34495e;
	text-decoration: none;
	font-family: 'Dosis', sans-serif;
	padding: 0px 15px 0px 15px;
	display: inline-block;
	border-radius: 15px;
}

#navbar a:hover {
	background-color: #34495e;
	color: #ecf0f1;
}

#navbar a#active {
	background-color: #34495e;
	color: #ecf0f1;
}

#header p {
	height: 0px;
	margin: 0px;
}

#sidebar {
	background-color: #c0392b;
	position: fixed;
	width: 15%;
	border-radius: 10px;
	text-align: center;
}

#linkcluster {
	color: #e6e9e9;
	font-family: 'Dosis', sans-serif;
	font-size: 25px;
	display: inline-block;
	padding: 15px;
	position: relative;
	top: -15px;
}

#linkcluster #small {
	font-size: 35px;
}

#linkcluster h2 {
	margin: 10px 0px 10px 0px;
}

.splitter {
	background-color: #34495e;
	position: relative;
	height: 1px;
	width: 80%;
	display: inline-block;
}

.column {
	background-color: #34495e;
	position: fixed;
	float: right;
	width: 70%;
	height: 400px;
}