/* Whole Page */
body {
    margin: 0;
    box-sizing: border-box;
    background-image: url("images/wakeboard.jpg");
    background-attachment: fixed;
    background-position: right bottom, left top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}



/* Navigation Bar */
.navbar {
    background-color: darkslategrey;
    position: sticky;
    position: -webkit-sticky;
    width: 15.61%;
    float: left;
}

.linkcluster {
    position: relative;
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    color: white;
    position: relative;
    height: 50px;
}

#a1 {
    padding-left: 87.11px;
    padding-right: 87.11px;
}

/* #a2 = active link for this page */

#a3 {
    padding-left: 94.2px;
    padding-right: 94.2px;
}

#a4 {
    padding-left: 94.2px;
    padding-right: 94.2px;
}

#a5 {
    padding-left: 94.2px;
    padding-right: 94.2px;
}

#a6 {
    padding-left: 94.2px;
    padding-right: 94.2px;
}

.navbar a:hover {
    color: darkslategrey;
    background-color: white;
}

.navbar a.active {
    background-color: grey;
    color: black;
    padding-left: 93px;
    padding-right: 93px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}



/* Main Content */
.main {
    padding: 20px;
}

.post {
    float: right;
    width: 80%;
}

.posthead {
    float: right;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 10px 0px 10px 0px;
}

.posthead h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    color: white;
    padding: 0px 10px 0px 10px;
    display: inline;
}

.posthead p {
    color: white;
    padding: 0px 10px 0px 10px;
}

.postdate {
    float: right;
}

.postbreak {
    float: right;
    opacity: 1;
    width: 100%;
    height: 5px;
}

.postbody {
    float: right;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

h1 {
    font-family: 'Roboto Slab', serif;
    padding: 0px 10px 0px 10px;
    color: white;
}

.postbody p {
    padding: 0px 10px 0px 10px;
    word-wrap: break-word;
    color: white;
    font-family: 'Montserrat', sans-serif;
}



/* Footer */
.footer {
    padding: 10px;
}