/* Whole Page */
body {
    margin: 0;
    box-sizing: border-box;
    background-image: url("images/wakeboard.jpg");
    background-attachment: fixed;
    background-position: right bottom, left top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}



/* Navigation Bar */
#navbar {
    background-color: darkslategrey;
    position: sticky;
    position: -webkit-sticky;
    width: 15.61%;
    float: left;
}

#linkcluster {
    position: relative;
}

#navbar a {
    float: left;
    display: block;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    color: white;
    position: relative;
    height: 50px;
}

#a1 {
    padding-left: 87.11px;
    padding-right: 87.11px;
}

#navbar a#a1active {
    background-color: grey;
    color: black;
    padding-left: 90.5px;
    padding-right: 90.5px;
}

#a2 {
	padding-left: 93px;
	padding-right: 93px;
}

#navbar a#a2active {
    background-color: grey;
    color: black;
    padding-left: 93px;
    padding-right: 93px;
}

#a3 {
    padding-left: 90.5px;
    padding-right: 90.5px;
}

#navbar a#a3active {
    background-color: grey;
    color: black;
    padding-left: 90.5px;
    padding-right: 90.5px;
}

#a4 {
    padding-left: 94.2px;
    padding-right: 94.2px;
}

#navbar a#a4active {
    background-color: grey;
    color: black;
    padding-left: 90.5px;
    padding-right: 90.5px;
}

#a5 {
    padding-left: 94.2px;
    padding-right: 94.2px;
}

#navbar a#a5active {
    background-color: grey;
    color: black;
    padding-left: 90.5px;
    padding-right: 90.5px;
}

#a6 {
    padding-left: 94.2px;
    padding-right: 94.2px;
}

#navbar a#a6active {
    background-color: grey;
    color: black;
    padding-left: 90.5px;
    padding-right: 90.5px;
}

#navbar a:hover {
    color: darkslategrey;
    background-color: white;
}

#row:after {
    content: "";
    display: table;
    clear: both;
}



/* Main Content */
#main {
    padding: 20px;
}

.post {
    float: right;
    width: 83.7%;
}

.posthead {
    float: right;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 10px 0px 10px 0px;
}

.posthead h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    color: white;
    padding: 0px 10px 0px 10px;
    display: inline;
}

.posthead p {
    color: white;
    padding: 0px 10px 0px 10px;
}

.postdate {
    float: right;
}

.postbreak {
    float: right;
    opacity: 1;
    width: 100%;
    height: 5px;
}

.postbody {
    float: right;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.postbody p.text-pre-trans {
	margin-bottom: 2px;
}

.postbody p.trans {
	color: grey;
	margin-top: 0px;
}

h1 {
    font-family: 'Roboto Slab', serif;
    padding: 0px 10px 0px 10px;
    color: white;
}

.postbody #text-right {
	position: relative;
	float: right;
	width: 645px;
	right: 90px;
}

.postbody p {
    padding: 0px 10px 0px 10px;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	width: 87%;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.postbody p.quote {
    
}

#classvsid-img-1 {
	width: 1000px;
	height: 600px;
	margin: 10px 10px 5px 10px;
	border-style: solid;
	border-width: 5px;
	border-color: orange;
}

#classvsid-img-2 {
	width: 1000px;
	height: 600px;
	margin: 10px 10px 5px 10px;
	border-style: solid;
	border-width: 5px;
	border-color: orange;
}

#classvsid-img-3 {
	width: 400px;
	height: 800px;
	margin: 10px 10px 5px 10px;
	border-style: solid;
	border-width: 5px;
	border-color: orange;
	float: left;
}



/* Footer */
#footer {
    padding: 10px;
}