body {
	background-color: #ecf0f1;
	margin: 0px;
}

#container {
	margin: 0px 8px 8px 8px;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

#header {
	text-align: center;
	padding: 0px 0px 10px 0px;
	position: relative;
	top: -5px;
}

#header h1 {
	display: inline-block;
	color: #7f8c8d;
	font-family: 'Dosis', sans-serif;
	margin: 21.44px 0px 0px 0px;
}

#line-break {
	display: inline-block;
	background-color: #c0392b;
	height: 1px;
	width: 180px;
	margin: 0px 0px 5px 0px;
}

#navbar {
	display: inline-block;
}

#navbar a {
	color: #34495e;
	text-decoration: none;
	font-family: 'Dosis', sans-serif;
	padding: 0px 15px 0px 15px;
	display: inline-block;
	border-radius: 15px;
}

#navbar a:hover {
	background-color: #34495e;
	color: #ecf0f1;
}

#navbar a#active {
	background-color: #34495e;
	color: #ecf0f1;
}

#header p {
	height: 0px;
	margin: 0px;
}

#main h1 {
	font-family: 'Dosis', sans-serif;
	color: white;
	display: inline-block;
	word-spacing: 5px;
	letter-spacing: 2px;
	font-size: 70px;
	position: relative;
	top: 85px;
}

#top-left {
	background-color: #f0932b;
	width: 708px;
	height: 400px;
	margin-bottom: 4px;
	float: left;
	border-radius: 15px;
	text-align: center;
}

#top-left:hover {
	background-color: #ff3838;
}

#top-left h1 a {
	display: block;
	text-decoration: none;
	color: inherit;
}

#top-right {
	background-color: #e056fd;
	width: 708px;
	height: 400px;
	margin-bottom: 4px;
	float: right;
	border-radius: 15px;
	text-align: center;
}

#top-right:hover {
	background-color: #ff3838;
}

#top-right h1 a {
	display: block;
	text-decoration: none;
	color: inherit;
}

#bottom-left {
	background-color: #7ed6df;
	width: 708px;
	height: 400px;
	margin-top: 4px;
	margin-bottom: 8px;
	float: left;
	border-radius: 15px;
	text-align: center;
}

#bottom-left:hover {
	background-color: #ff3838;
}

#bottom-left h1 a {
	display: block;
	text-decoration: none;
	color: inherit;
}

#bottom-right {
	background-color: #badc58;
	width: 708px;
	height: 400px;
	margin-top: 4px;
	margin-bottom: 8px;
	float: right;
	border-radius: 15px;
	text-align: center;
}

#bottom-right:hover {
	background-color: #ff3838;
}

#bottom-right h1 a {
	display: block;
	text-decoration: none;
	color: inherit;
}