/* Whole Page */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
    background-image: url("images/wakeboard.jpg");
    background-attachment: fixed;
    background-position: right bottom, left top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* Header */
.header {
    text-align: center;
    background-color: black;
    opacity: 0.90;
    color: white;
    position: relative;
    height: 70px; 
    padding: 10px;
}

.header h1 {
    font-size: 40px;
    position: relative;
    top: -25px;
}

.header p {
    font-size: 10px;
    position: relative;
    top: -47px;
}

/* Navigation Bar */
.navbar {
    background-color: darkslategrey;
    position: sticky;
    position: -webkit-sticky;
    overflow: hidden;
    top: 0;
    z-index: 1;
}

/* Need to change positioning code */
.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    color: white;
    position: relative;
    left: 495px;
}

.navbar a:hover {
    color: darkslategrey;
    background-color: white;
}

/* Main Content */
.main {
    padding: 20px;
}

.columns3 {
    float: left;
    width: 32.75%;
    background-color: black;
    opacity: 0.5;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    background-color: black;
    opacity: 0.5;
    width: 100%;
}

.columns3 p {
    padding: 0px 10px 0px 10px;
    word-wrap: break-word;
    color: white;
}

.vertwhitespace {
    float: left;
    padding: 5px;
    background-color: white;
    opacity: 0;
}

.navbaraspacing {
    float: left;
    padding: 0px;
    background-color: grey;
    height: 25px;
    width: 1px;
    position: relative;
    left: 495px;
    top: 11px;
    opacity: 0.55;
}